<h1>ユーザー詳細</h1>

<% if @user.role == 'job_hunting' %>
  <h2>学生</h2>
<% else %>
  <h2>企業</h2>
<% end %>

<p>ID : <%= @user.id %></p>

<p>メールアドレス : <%= @user.email %></p>

<%= link_to('編集する', "/users/#{@user.id}/edit") %>

<%= link_to 'ホーム', '/users' %>
