<h1>Host</h1>

<div id="video-area">

  <div width="400" height="300">
    <video id="my-video" autoplay="1"></video>
  </div>

</div>

<%= link_to "退出", users_path %>
<%= javascript_include_tag "chat_host" %>
