<div class="entrysheets_show_wrap">
  <div class="entrysheets_show_wrap_inner">
    <h1 class="entrysheets_show_h1 txC">エントリーシート登録内容</h1>
    <p class="entrysheets_show_p"><span class="span01 txC">名前</span><span class="span02"><%= @entrysheet.name %></span></p>
    <p class="entrysheets_show_p"><span class="span01 txC">年齢</span><span class="span02"><%= @entrysheet.age %>歳</span></p>
    <p class="entrysheets_show_p"><span class="span01 txC">性別</span><span class="span02"><%= @entrysheet.sex %></span></p>
  </div>
</div>
