/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 /*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; outline: 0; font-size: 100%; vertical-align: baseline; background: transparent; }

body { line-height: 1; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }

nav ul, ul { list-style: none; }

blockquote, q { quotes: none; }

blockquote:before, blockquote:after { content: ''; content: none; }

q:before, q:after { content: ''; content: none; }

a { margin: 0; padding: 0; font-size: 100%; text-decoration: none; vertical-align: baseline; background: transparent; }

/* change colours to suit your needs */
ins { background-color: #ff9; color: #000; text-decoration: none; }

/* change colours to suit your needs */
mark { background-color: #ff9; color: #000; font-style: italic; font-weight: bold; }

del { text-decoration: line-through; }

abbr[title], dfn[title] { border-bottom: 1px dotted; cursor: help; }

table { border-collapse: collapse; border-spacing: 0; }

/* change border colour to suit your needs */
hr { display: block; height: 1px; border: 0; border-top: 1px solid #cccccc; margin: 1em 0; padding: 0; }

input, select { vertical-align: middle; }

input[type="submit"] { -webkit-appearance: none; border-radius: 0; }

@charset "UTF-8";
/*使用フォント追加 */
/*@font-face {
	font-family: "Curls";
	src:url("../fonts/Delicious Curls bold.ttf") format('woff'),
	url("../fonts/Delicious Curls bold.ttf") format('truetype');
}*/
body { font-family: 'ヒラギノ角ゴシック', 'Hiragino Sans', 'ヒラギノ角ゴ ProN W3', 'Hiragino Kaku Gothic ProN', 'メイリオ', 'Meiryo', 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif; }

/* clearfix　回りこみ解除 */
.cfx:after { content: ""; display: block; clear: both; }

/* 左寄せ */
.flL { float: left; }

.ma-t30{ margin-top:30px !important; }

.ma-u30{ margin-bottom:30px !important; }

/* 右寄せ */
.flR { float: right; }

/* 文字左寄せ */
.txL { text-align: left; }

/* 文字中央寄せ */
.txC { text-align: center; }

/* 文字右寄せ */
.txR { text-align: right; }

/*空白*/
.tab1 { padding-left: 20px; }

.tab2 { padding-left: 40px; }

.tab3 { padding-left: 60px; }

/*liを横に並べる*/
ol.cfx li, ul.cfx li { float: left; }

/*olの効果消去*/
ol { list-style: none; }

/*フッター部分のtextareaのcss初期効果　削除*/
textarea.opinion-form { margin: 0; padding: 0; background: none; border: none; border-radius: 0; outline: none; -webkit-appearance: none; -moz-appearance: none; appearance: none; }

/*aのホバー*/
a:hover { opacity: 0.8; }

/*pcの時に画像表示(spの時には非表示)*/
.pc-display { display: block; }

.sp-display, .sp-indisplay { display: none; }

@media (min-width: 767px) { /*パソコンの時に文字改行*/
  .pc-block { display: block; }
  .pc-inblock { display: inline; }
  .pc-break:before { content: "\A"; white-space: pre; } }
@media (max-width: 767px) { /* スマホの時に文字改行 */
  .sp-block { display: block; }
  /*spの時に画像表示(pcの時には非表示)*/
  .pc-display, .pc-indisplay { display: none; }
  .sp-display { display: block; }
  .sp-indisplay { display: inline-block; }
  /* spのときにclearfix　回りこみ解除 */
  .sp-cfx:after { content: ""; display: block; clear: both; }
  .sp-break:before { content: "\A"; white-space: pre; } }

input, button, textarea, select {
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  border-radius: 0;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

 /*エントリーシート追加ページ*/

 .entrysheets_add_wrap{
   background: #33b998;
   width:100%;
   min-width:1200px;
   min-height: 100vh;
   padding:50px;
   box-sizing: border-box;
 }

 .entrysheets_add_wrap_inner{
   background: #fff;
   width: 80%;
   min-height:80%;
   margin:auto;
   padding: 0 0 50px;
 }

 .entrysheets_add_h1{
  font-size:50px;
  padding:50px 0 80px;
  letter-spacing: 0.2em;
 }

.text_form{
  border:1px solid #000;
}

.entrysheets_add_p1 input,.entrysheets_add_p2 input{
  display: block;
  width:50%;
  margin:0 auto 40px;
  padding:15px 20px;
  border-bottom:1px solid #000;
  font-size:20px;
  box-sizing: border-box;
}

.entrysheets_add_submit input[type="submit"]{
  display: block;
  width:50%;
  margin:40px auto 0;
  padding:15px 20px;
  border:5px solid #33b998;
  border-radius: 10px;
  box-sizing: border-box;
  font-size:20px;
  letter-spacing: 0.5em;
  cursor: pointer;
  transition: all .2s cubic-bezier(0.250, 0.250, 0.750, 0.750);
}

.entrysheets_add_submit input[type="submit"]:hover{
  color:#fff;
  background:#33b998;
}

.entrysheets_add_radio_wrap{
  display: table;
  margin:0 auto;
}

.entrysheets_add_radio_wrap input {
	display: none;
}
.entrysheets_add_radio_wrap label{
	display: block;
	float: left;
	cursor: pointer;
	width: 60px;
	margin: 0;
	padding: 10px;
	background: #bdc3c7;
	color: #869198;
	font-size: 16px;
	text-align: center;
	line-height: 1;
	transition: .2s;
}
.entrysheets_add_radio_wrap label:first-of-type{
	border-radius: 3px 0 0 3px;
}
.entrysheets_add_radio_wrap label:last-of-type{
	border-radius: 0 3px 3px 0;
}
.entrysheets_add_radio_wrap input[type="radio"]:checked + .switch-on {
	background-color: #2da0ab;
	color: #fff;
}
.entrysheets_add_radio_wrap input[type="radio"]:checked + .switch-off {
	background-color: #e67168;
	color: #fff;
}

/*イベントshowページ*/

.entrysheets_show_wrap{
  background: #33b998;
  width:100%;
  min-width:1200px;
  min-height: 100vh;
  padding:50px;
  box-sizing: border-box;
}

.entrysheets_show_wrap_inner{
  background: #fff;
  width: 80%;
  min-height:80%;
  margin:auto;
  padding: 0 0 50px;
}

.entrysheets_show_h1{
 font-size:50px;
 padding:50px 0 80px;
 letter-spacing: 0.2em;
}

.entrysheets_show_p{
  font-size: 20px;
  padding: 0 15% 5%;
}

.entrysheets_show_p span{
  padding:1%;
  box-sizing: border-box;
}

.entrysheets_show_p .span01{
  display: inline-block;
  width:10%;
}

.entrysheets_show_p .span02{
  display: inline-block;
  width:70%;
  margin:0 0 0 10%;
  border-bottom: 2px solid #000;
}


/*ユーザページ*/

.user_wrap{
  background: #33b998;
  width:100%;
  min-width:1200px;
  min-height: 100vh;
  padding:50px;
  box-sizing: border-box;
}

.user_wrap_inner{
  background: #fff;
  width: 80%;
  min-height:80%;
  margin:auto;
  padding: 0 0 50px;
}

.user_h1{
  font-size:50px;
  padding:50px 0;
  letter-spacing: 0.2em;
}

.user_h2{
  font-size:18px;
  color: #33b998;
  padding: 0 0 5%;
}

.user_h2 span{
  font-size:30px;
  padding:0 1%;
  letter-spacing: 0.1em;
}

.user_h3{
  font-size:25px;
  padding: 5% 0;
  letter-spacing: 0.2em;
}

.user_show_p{
  font-size: 20px;
  padding: 0 15% 5%;
}

.user_show_p2{
  font-size: 20px;
  padding: 5% 15% 2%;
}

.user_show_p3{
  font-size: 20px;
  padding: 2% 15%;
}

.user_show_p span{
  padding:1%;
  box-sizing: border-box;
}

.user_show_p .span01{
  display: inline-block;
  width:20%;
}

.user_show_p .span02{
  display: inline-block;
  width:70%;
  margin:0 0 0 10%;
  border-bottom: 2px solid #000;
}

.link_wrap{
  width:80%;
  margin:0 auto;
}

.link_wrap > a{
  text-align: center;
  display: inline-block;
  width:40%;
  margin:0 8% 0 5%;
  padding:15px 20px;
  border:5px solid #33b998;
  border-radius: 10px;
  box-sizing: border-box;
  font-size:20px;
  color:#000;
  letter-spacing: 0.5em;
  cursor: pointer;
  transition: all .2s cubic-bezier(0.250, 0.250, 0.750, 0.750);
}

.link_wrap2 > a{
  text-align: center;
  display: block;
  width:50%;
  margin:0 auto;
  padding:15px 20px;
  border:5px solid #33b998;
  border-radius: 10px;
  box-sizing: border-box;
  font-size:20px;
  color:#000;
  letter-spacing: 0.5em;
  cursor: pointer;
  transition: all .2s cubic-bezier(0.250, 0.250, 0.750, 0.750);
}

.link_wrap3 > a{
  text-align: center;
  display: inline-block;
  width:27%;
  margin:0 4% 0 2%;
  padding:15px;
  border:5px solid #33b998;
  border-radius: 10px;
  box-sizing: border-box;
  font-size:15px;
  color:#000;
  letter-spacing: 0.5em;
  cursor: pointer;
  transition: all .2s cubic-bezier(0.250, 0.250, 0.750, 0.750);
}

.link_wrap > a:hover,.link_wrap2 > a:hover,.link_wrap3 > a:hover{
  color:#fff;
  background: #33b998;
}

.link_wrap > a:last-child,.link_wrap3 > a:last-child{
  margin:0 5% 0 0;
}

.text_field{
  width:50%;
  margin:0 auto 5%;
}

.text_field label{
  display: inline-block;
  width:20%;
  font-size:18px;
}

.text_field input{
  display: inline-block;
  width:75%;
  padding:2%;
  font-size:18px;
  border-bottom: 2px solid #000;
  box-sizing: border-box;
}

.user_submit input[type="submit"]{
  display: block;
  width:50%;
  margin:40px auto 0;
  padding:15px 20px;
  border:5px solid #33b998;
  border-radius: 10px;
  box-sizing: border-box;
  font-size:20px;
  letter-spacing: 0.5em;
  cursor: pointer;
  transition: all .2s cubic-bezier(0.250, 0.250, 0.750, 0.750);
}

.user_submit input[type="submit"]:hover{
  color:#fff;
  background:#33b998;
}

.user_p_input input{
  display: block;
  width:50%;
  margin:0 auto 40px;
  padding:15px 20px;
  border-bottom:1px solid #000;
  font-size:20px;
  box-sizing: border-box;
}

.user_add_p input{
  display: block;
  width:50%;
  margin:0 auto 40px;
  padding:15px 20px;
  border-bottom:1px solid #000;
  font-size:20px;
  box-sizing: border-box;
}

.select_wrap{
  position:relative;
  overflow:hidden;
  display:block;
  width:50%;
  margin:0 auto;
  color:#333;
  border-bottom:2px solid #000;
}

.select_wrap select{
  -webkit-appearance:none;
  -moz-appearance:none;
  appearance:none;
  position:relative;
  z-index:2;
  display:block;
  width:100%;
  margin:0 auto;
  padding:11px 35px 11px 11px;
  padding:.6875em 2.1875em .6875em .6875em;
  background:transparent;
  border:0;
  outline:none;
  font-size:16px;
  font-size:1em;
  line-height:1.5;
}

.open_mini:before{
  content: "▼";
  position:absolute;
  z-index:1;
  width:5%;
  top:50%;
  right:.75em;
  margin-top:-.5em;
  font-size:1em;
  line-height:1;
  color:#333;
}

/*イベント追加ページ*/

.event_wrap{
  background: #33b998;
  width:100%;
  min-width:1200px;
  min-height: 100vh;
  padding:50px;
  box-sizing: border-box;
}

.event_wrap_inner{
  background: #fff;
  width: 80%;
  min-height:80%;
  margin:auto;
  padding: 0 0 50px;
}

.event_h1{
 font-size:50px;
 padding:50px 0 80px;
 letter-spacing: 0.2em;
}

.event_h2 {
  width: 80%;
  margin: 10px auto 20px;
  padding: 10px;
  font-size: 20px;
  color: #fff;
  background: #33b998;
  box-sizing: border-box;
}

.event_checkbox_wrap {
	display: table;
  margin:0 auto;
}

.event_checkbox_wrap input {
	display: none;
}
.event_checkbox_wrap label{
	display: block;
	float: left;
	cursor: pointer;
	width: 60px;
	margin: 0;
	padding: 10px;
	background: #bdc3c7;
	color: #869198;
	font-size: 16px;
	text-align: center;
	line-height: 1;
	transition: .2s;
}
.event_checkbox_wrap label:first-of-type{
	border-radius: 3px 0 0 3px;
}
.event_checkbox_wrap label:last-of-type{
	border-radius: 0 3px 3px 0;
}
.event_checkbox_wrap input[type="checkbox"]:checked + .switch-on {
	background-color: #33b998;
	color: #fff;
}

.event_text input[type="text"]{
  width:100%;
}

.event_textarea textarea{
  display: block;
  width:50%;
  min-height:200px;
  margin:0 auto 2%;
  padding:5px;
  font-size:16px;
  border: 1px solid #000;
  box-sizing: border-box;
}

.event_show_p{
  width:80%;
  margin:20px auto;
  padding:0 20px;
  box-sizing: border-box;
}

.event_submit{
  width:80%;
  margin:0 auto;
}

.event_submit input[type="submit"]{
  display: block;
  width:40%;
  margin:30px auto 0;
  margin-left :28%;
  padding:15px 20px;
  border:5px solid #33b998;
  border-radius: 10px;
  box-sizing: border-box;
  font-size:20px;
  letter-spacing: 0.5em;
  cursor: pointer;
  transition: all .2s cubic-bezier(0.250, 0.250, 0.750, 0.750);
}

.event_submit input[type="submit"]:hover{
  color:#fff;
  background:#33b998;
}

.event_top_list{
  width:80%;
  margin:0 auto;
  box-sizing: border-box;
}

.event_top_list li{
  width:100%;
}

.event_top_list li a{
  text-align: center;
  display: block;
  width: 100%;
  padding:30px;
  border-bottom:2px solid #000;
  box-sizing: border-box;
  color:#000;
  transition: all .2s cubic-bezier(0.250, 0.250, 0.750, 0.750);
}

.event_top_list li a:hover{
  color:#fff;
  background: #33b998;
}
/* chatエリア */

#video-area{

}

#video-area .chat_wrap{
  width: 40%;
  margin:5%;
}

#video-area .chat_wrap video{
  width:100%;
}
